/* default theme */
@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora.ttf') format('truetype');
}

html[data-theme='default'] {
  --color-primary: rgba(102, 94, 246, 1);
  --color-secondary: rgba(19, 194, 150, 1);
  
  --background: #000;
  --foreground: rgba(37, 37, 37, 1);

  --text-primary: white;
  --text-secondary: rgba(184, 184, 184, 1);
  --text-light: rgba(113,113,113,1); /* For labels light */
  
  --disabled-primary: rgba(229, 231, 235, 1);
  --disabled-secondary: rgba(136, 153, 168, 1);
  /* Statuses */
  --st-success: rgba(120, 199, 0, 1);
  --st-info: var(--color-primary);
  --st-error: rgba(255, 145, 0, 1);
  --st-pink: rgba(243, 108, 215, 1); /* This pink is used in progress bar */

  /* Font */
  --font-open-sans: 'Open Sans';
}
