@import './base.css';
@import './design_v3.css';

/* default theme */
@font-face {
  font-family: 'Sora';
  src: url('/fonts/Sora.ttf') format('truetype');
}

@font-face {
  font-family: 'KK-Topo';
  src: url('/fonts/KK-Topo-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Rootstock-Sans';
  src: url('/fonts/Rootstock-Sans-Body.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Rootstock-Sans';
  src: url('/fonts/Rootstock-Sans-Tags.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Rootstock-Sans';
  src: url('/fonts/Rootstock-Sans-Headline.otf') format('truetype');
  font-weight: bold;
}

html[data-theme='default'] {
  --color-primary: rgba(229, 107, 26, 1);
  --color-secondary: rgba(45, 45, 45, 1);

  --background: rgba(13, 13, 13, 1);
  --foreground: rgba(26, 26, 26, 1);

  --text-primary: white;
  --text-secondary: rgba(184, 184, 184, 1);
  --text-light: rgba(113, 113, 113, 1); /* For labels light */

  --disabled-primary: rgba(255, 255, 255, 0.6);
  --disabled-secondary: rgba(136, 153, 168, 1);
  /* Statuses */
  --st-success: rgba(34, 173, 92, 1);
  --st-info: rgba(255, 153, 0, 1);
  --st-error: rgba(242, 72, 34, 1);
  --st-white: rgba(255, 255, 255, 1); /* This white is used in progress bar */
  --st-queue: rgba(102, 94, 246, 1);

  /* Font */
  --font-open-sans: 'Open Sans';
  --font-sora: 'Sora';

  /* Input */
  --input-bg: rgb(45, 45, 45);
  --input-placeholder: rgba(156, 163, 175, 1);

  /* Links (a tag) */
  --link: rgba(143, 154, 255, 1);

  /* New Design May 2025 */

  /* Backgrounds */
  --background-100: #171412;
  --background-80: #25211e;
  --background-60: #37322f;
  --background-40: #66605c;
  --background-20: #9a948d;
  --background-0: #aca39d;

  /* Text */
  --text-100: #ffffff;
  --text-80: #e4e1da;
  --text-60: #d4cfc4;
  --text-40: #9a948d;
  --text-20: #37322f;
  --text-10: #25211e;
  --text-0: #171412;

  --primary: #f47a2a;

  /* System Status */
  --status-success: #1bc47d;
  --status-error: #ff6688;

  /* Brand Colors */
  --brand-rif-blue: #4b5cf0;
  --brand-rootstock-purple: #9e76ff;
  --brand-rootstock-pink: #ff71e1;
  --brand-rootstock-green: #79c600;

  /* TODO: replace these main layout colors with New Design 2025 colors */
  --v-charcoal: rgba(37, 33, 30, 1);
  --warm-gray: rgba(172, 163, 157, 1);
  --dark-gray: rgba(55, 50, 47, 1);
  --l-black: rgba(23, 20, 18, 1);

  --header-height: 5.25rem;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  button:disabled,
  [role='button']:disabled {
    cursor: not-allowed;
  }
}
