name: Build dApp

on: pull_request

# Declare default permissions as read only.
permissions: read-all

jobs:
  build_test:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        env:
          CYPRESS_INSTALL_BINARY: '0'
        run: npm ci

      - name: Build
        env:
          NEXT_TELEMETRY_DISABLED: '1'
          NEXT_PUBLIC_BUILD_ID: ${{ github.sha }}
        run: |
          cp .env.dev .env.local
          npm run build
