name: Run e2e on Chrome

on: pull_request

# Declare default permissions as read only.
permissions: read-all

jobs:
  chrome:
    runs-on: ubuntu-22.04
    name: E2E on Chrome
    steps:
      - name: Checkout files
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4.4.0
        with:
          node-version-file: '.nvmrc'
      - name: Run Cypress end-to-end tests
        uses: cypress-io/github-action@b8ba51a856ba5f4c15cf39007636d4ab04f23e3c #v6.10.2
        with:
          browser: chrome
          start: npm run dev